<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mask_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{1,1}}</string>
                <key>offset</key>
                <string>{-32,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>mask_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{70,63}}</string>
                <key>sourceSize</key>
                <string>{76,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mask_plist.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5496402577d262eecae819b1cafd763:1/1$</string>
            <key>textureFileName</key>
            <string>mask_plist.png</string>
        </dict>
    </dict>
</plist>
